ocr/extract_articles/files_hold
ocr/test_images

data/cropped_articles/*
data/hold
data/segment_outputs/*
data/output_images/*
data/JSON_outputs/*

ner/stanza_resources

bbz-segment/05_prediction/data/models

.idea
**/.vscode
**/__pycache__
**/.DS_Store
**/.ipynb_checkpoints
config
definitions.pyc
pyvenv.cfg

virtualenvs