ocr/.credentials/
ocr/extract_articles/files_hold
ocr/test_images

data/cropped_articles/*
data/hold
data/npy_outputs
data/segment_outputs

#ner/stanza_resources (aded to lfs)

bbz-segment/ocr/.credentials
#bbz-segment/05_prediction/data/models (added to lfs)

.idea
**/.vscode
**/__pycache__
**/.DS_Store
**/.ipynb_checkpoints
config