ocr/extract_articles/files_hold
ocr/test_images

data/cropped_articles/*
data/hold
data/segment_outputs/*
data/output_images/*
data/JSON_outputs/*
data/full_dataset/*
data/npy_outputs/*
!data/npy_outputs/image_error_list.csv

ner/stanza_resources

bbz-segment/05_prediction/data/models

.idea
**/.vscode
**/__pycache__
**/.DS_Store
**/.ipynb_checkpoints
config
definitions.pyc
pyvenv.cfg
**/.swp

virtualenvs